@font-face{
  font-family: "LobsterRegular";
  src: url("/LobsterRegular.eot");
  src: url("/LobsterRegular.eot?#iefix") format("embedded-opentype"),
  url("/LobsterRegular.woff") format("woff"),
  url("/LobsterRegular.ttf") format("truetype");
  font-style: normal; font-weight: normal;
}
@font-face{
  font-family: "OpenSansRegular";
  src: url("/OpenSansRegular.eot");
  src: url("/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
  url("/OpenSansRegular.woff") format("woff"),
  url("/OpenSansRegular.ttf") format("truetype");
  font-style: normal; font-weight: normal;
}

@font-face{
  font-family: "OpenSansBold";
  src: url("/OpenSansBold.eot");
  src: url("/OpenSansBold.eot?#iefix") format("embedded-opentype"),
  url("/OpenSansBold.woff") format("woff"),
  url("/OpenSansBold.ttf") format("truetype");
  font-style: normal; font-weight: normal;
}